
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.quicksand-normal{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
*{
    margin:0;
    padding: 0;
}


/* banner style */
.first-banner{
    display: flex;
    justify-content: space-between;
    max-width: 1025px;
   margin: 16px 110px;
    align-items: center;
    gap:145px;
}
.first-school{
    display: flex;
    gap:9px;
    align-items: center;
}

.first-ul{
    text-decoration: none;
    display: flex;
    list-style: none;
    gap:25px;
    
}
.school{
    font-size: 2rem;
    font-weight: 700;
}
.first-logo{
    width: 48px;
    height: 48px;
}
.first{
    font-weight: 700;
    font-size:1.25rem;
    color: #FEA301;

}
.second{
    font-size: 1.25rem;
    font-weight: 500;
    color: #01ACFD;
}
.third{
    font-size: 1.25rem;
    font-weight: 500;
    color:#05D4DF;
}
.fourth{
    font-size: 1.25rem;
    font-weight: 500;
    color: #5D58EF;

}
.primary-btn{
    background-color: #FEA301;
    color: white;
    padding: 8px 48px;
    border: none;
    border-radius:12px;
}
#icon{
    display: none;
}
.abc{
    display:none;
}

/*Banner style */

.banner-all{
    display: flex;
    gap:42px;
    align-items: center;
    justify-content: center;
}
.banner-title{
    font-size: 3.5rem;
    font-weight: 700;
}
.first-span{
    color: #FEA301;
}
.second-span{
    color:#01ACFD;
}
.banner-prgp{
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 15px;
}
.banner-btn{
    background-color: black;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 12px;
    margin-top: 20px;
}

/*curriculum style*/

.standard-title{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 80px;
}

.curricullum-all{
    display: flex;
    gap:28.29px;
    
}
.all-11{

    background-image:linear-gradient(#DEF5FF,white);
    border-radius: 18px;
    text-align: center;
    width: 295px;
    height: 382px;
    padding:42px 32px;
    
}
.all-12{
    background-image: linear-gradient(#FFF4DC,white);
    border-radius: 18px;
    text-align: center;
    width: 295px;
    height: 382px;
    padding:42px 32px;

}
.all-13{
    background-image:linear-gradient( #F2E8FF,white);
    border-radius: 18px;
    text-align: center;
    width: 295px;
    height: 382px;
    padding:42px 32px;
}
.all{
    font-size: 1.5rem;
    font-weight: 700;
}
.all-prgp{
    color: #808080;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 25px;
}
.secondary-btn1{
    color:#64C8FF;
    font-weight: 700;
    font-size: 1rem;
    background-color: white;
    border:none;
    margin-top: 30px;
}
.secondary-btn2{
    color:#F0AA00;
    font-weight: 700;
    font-size: 1rem;
    background-color: white;
    border: none;
    margin-top:30px;
}
.secondary-btn3{
    color:#8700FF;
    font-weight: 700;
    font-size: 1rem;
    background-color: white;
    border: none;
    margin-top: 30px;
}
.banner-section{
    margin-left: 110px;
    margin-right: 110px;
}
.icons{
    text-align: center;
    gap:20px;
}
#i1{
    background-color: #FEA301;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    padding-top: 15px;
    margin-right: 10px;
    

}
#i2{
    background-color: #FEA301;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    padding-top: 15px;
    
}

/*stories style */
.story-section{
    
    margin-left: 110px;
    margin-right:110px ;
    height: 800px;
}

.story-banner{

    font-size: 1.95rem;
    font-weight: 700;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}
.story-all{
    display: flex;
    gap:16px;
}
.story-title{
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 47px;
    margin-bottom: 37px;
}
.story-btn{
    background-color: #3CD8E8;
    color:white;
    border-radius: 45px;
    border: none;
    padding: 14px 18px;
    margin-right:-70px;
    margin-left: 80px;
    margin-top: -50px;
    

}
.story-prgp{
    font-size: 1rem;
    font-weight: 500;
    color: #666666;
}
.story-div{
    background-color: white;
    border-radius: 16px;
}

.story-head{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:16px;
    
}
.first-img{
    width: 493px;
    height:270px;
    border-radius:16px ;
}

.story-img{
    width: 250px;
    height: 142px;
    border-radius: 14px;
}


.story-children{
    background-color: white;
    border-radius: 16px;

}

.story-btn1{
    background-color: #95B226;
    border: none;
    border-radius: 45px;
    padding: 10px 18px;
    color:white;
    margin-top: -40px;
    margin-left: 30px;
}

.story-btn2{
    background-color: #5D58F0;
    border: none;
    border-radius: 45px;
    padding: 10px 18px;
    color:white;
    margin-top: -40px;
    margin-left: 30px;
}
.story-prgp1{
    font-weight: 700px;
    font-size: 1rem;
    text-align: center;
}
.story-children1{
    display:none;
}
.btn-1{
    text-align: center;
}

.btn-11{
    margin-top: 80px;
    background-color: black;
    color: white;
    border-radius: 12px;
    padding: 12px 61px;
}

/*footer style*/
footer{
    background-color: #01ACFD;
    height: 415px;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    margin-right: 110px;
    margin-left: 110px;
    padding-top: 98px;
    
}
.footer-prgp{
    width:300px;
    color:white;
    font-size: 1.25rem;

    
}
.flex-footer{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
    
.footer-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: white;
}

.footer-h3{
    font-size: 1.6rem;
    font-weight: 700;
    color: white;
    margin-bottom: 20px;
}
.footer-li{
    list-style: none;
}
.home,.home1,.home2,.home3{
    color:white;
    margin-bottom:18px;
}
.footer-h4{
    font-weight: 700;
    font-size: 1.5rem;
    color: white;
    margin-bottom: 20px;
}


.footer-icon,.footer-icon1,.footer-icon2,.footer-icon3{
    margin-right: 8px;
}

/*88888888*/
.hey{
    width: 100%;
    background: linear-gradient(white,#FEBF4D),url("../assets/bg.png");
    
}

/* Responsive */

@media screen and (max-width: 576px){

    .school,.primary-btn,.first-ul{
        display:none;
    }

    .first-banner{
        justify-content: space-between;
        margin-left:16px;
        margin-top: 16px;
        margin-right: 16px;
       
    }
    .first-logo{
        height: 46px;
        width: 46px;
    }
   
    #icon{
        display: block;
        width: 30px;
        height: 30px;  
    }
    .abc{
        display:block;
        margin-top: 12px;
        
    }

    /*banner responsive*/

    .banner-all{
        flex-direction:column-reverse;
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 10px;
        align-items: center;

    }
    .banner-1{
        text-align: center;
        
    }
    .banner-2i{
        width:336px;
        height: 413px;
    }
    /*curricullum responsive */
    .standard-title{
        align-items: center;
        font-size: 1.5rem;
        margin-bottom: 20px;
    }
    .curricullum-all{
        flex-direction: column;
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 10px;
        align-items: center;
    }
    .icons{
        display: none;
    }

    /*story */
    .story-div{
        display: none;
    }
    .story-banner{
        text-align: center;    
    }
    .story-head{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        
    }
    .story-children1{
        display: block;
        background-color: white;
        border-radius: 16px;
    
    }
    .story-children{
        display: block;
    }
    .btn-1{
        text-align: center;
    }
    .story-img{
        width:173px;
        height: 105px;
    }
    .story-children{
        width:173px;
        height:179px;
    }
    .story-section{
        margin-right: 16px;
        margin-left: 16px;
    }
    .story-btn1{
        width: 103px;
        height: 22px;
        padding: 5px 11px;
        margin-top:-13px;
    }
    .story-btn2{
        width: 103px;
        height: 22px;
        padding: 5px 11px;
        margin-top:-13px;
    }
    /*footer */
    footer{
        height: 642px;
    }
    .footer-content{
        flex-direction: column;
        margin-left:16px;
        
    }




}
